<div class="success js-noti">
    <% if (add) {%>
        Товар добавлен в <a href="#">корзину</a>.
    <% } else { %>
        Товар удален из <a href="#">корзины</a>.
    <% } %>
    <span class="close"><img class="close" alt="" src="/assets/close.png" /></span>
</div>