<div id="payment-address" class="js-checkoutStepCont">
	<div class="checkout-heading">
		<div class="marker-chekout"><span>Шаг 2: Account &amp; Billing Details</span></div>
	</div>
	<div class="checkout-content"></div>
</div>