<div id="checkout" class="js-checkoutStepCont">
	<div class="checkout-heading">
		<div class="marker-chekout">Шаг 1: Параметры заказа</div>
	</div>
	<div class="checkout-content opt">
		<div class="right">
			<h2>Я Новый Покупатель</h2>
			<p>Варианты заказа:</p>
			<div class="extra-wrap">
				<div class="p1">
					<label for="register">
						<input type="radio" checked="checked" id="register" value="register" name="account">
						<b>Зарегистрироваться</b> </label>
				</div>
			</div>
			<div class="extra-wrap">
				<label for="guest">
					<input type="radio" id="guest" value="guest" name="account">
					<b>Без регистрации</b> </label>
			</div>
			<br>
			<p class="login-padd">Зарегистрировавшись, вы сможете совершать покупки быстрее и удобней, просматривать историю Ваших заказов и сохранять товары в Избранное</p>
			<a class="button" id="button-account"><span>Continue</span></a><br>
			<br>
		</div>
		
		<%= render "devise/sessions/auth_form" %>
	</div>
</div>