<div class="breadcrumb"> 
    <a href="#">Home</a> » <a href="#" class="last">Shopping Cart</a> 
</div>
<h1>Ваш заказ принят!</h1>

<div class="box-container">
    <p>Your order has been successfully processed!</p>
    <p>You can view your order history by going to the <%= link_to "my account", edit_user_registration_path %> page and by clicking on <%= link_to "history", orders_path %>.</p>
    <p>Please direct any questions you have to the <a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=information/contact">store owner</a>.</p><p>Thanks for shopping with us online!</p>    
    
    <div class="buttons">
        <div class="right">
            <%= link_to "Продолжить покупки", root_path, :class => "b-btn b-btn_mini" %>
        </div>
    </div>
</div>