<% @profile = true %>

<h1>Профиль</h1>
<div class="box-container">

    <h2>Ваш адрес</h2>
    <div class="content">
        <%= simple_form_for(@address, :as => "address", :url => users_address_path, :html => { :method => :put }) do |f| %>
        
        <table class="form b-register-form">
            <tbody>
                <tr>
                    <td>Город:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :city, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Адрес:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :address, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="buttons">
                            <%= f.button :submit, "Изменить", :class => "b-btn" %>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <% end %>


    </div>
	
</div>


