<div style="font-family:Arial;font-size:18px;color:#000;">
	<%= @order.address.fio %>, мы надеемся что Вы остались довольны покупкой в магазине <a href="<%= @root_url %>" style="color:#2E83C3;" target="_blank">YoungLovers.ru</a> и просим Вас поставить оценку нашему магазину, это займет всего 2 минуты.
</div>
<br />

<div style="font-family:Arial;font-size:14px;color:#000;">
	<div>
	Перейдите по <a href="<%= @yandex_marker_rul %>" style="color:#2E83C3;" target="_blank">ссылке</a> и оставьте отзыв о качестве обслуживания нашего магазина, нам очень важно мнение наших клиентов для того чтобы сделать наш магазин еще лучше.
	</div>
	<br />
	
	<div>
		<i>Написали? Мы очень ценим Ваше мнение и в знак благодарности дарим Вам скидку <b>10%</b> на следующую покупку!</i> <br /><br />
		
		С наилучшими пожеланиями!
	</div>
</div>