<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h2><%= @order.address.fio %>, благодарим вас за то что вы сделали заказ в магазине YoungLovers.ru!</h2>
    <p>
        Ваш заказ на сумму <b><%= @order.summ %></b>
    </p>
 
    <p>
        В течении суток с вам перезвонит наш оператор для подтверждения заказа.
    </p>
</body>
</html>