<div style="font-family:Arial;font-size:18px;color:#000;">
	<%= @order.address.fio %>, мы надеемся что Вы остались довольны покупкой в магазине <a href="<%= @root_url %>" style="color:#2E83C3;" target="_blank">YoungLovers.ru</a> и будем рады видеть вас снова.
</div>
<br />

<div style="font-family:Arial;font-size:14px;color:#000;">
		С наилучшими пожеланиями!
	</div>
</div>