<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h2><%= @user.first_name %>, Добро пожаловать в магазин модной одежды YoungLovers!</h2>
    <p>
        Вы зарегистрировались на сайте нашего магазина <b>yonglovers.ru</b>.
    </p>
    <p>
        <b>Логин:</b> <%= @user.email %><br/>
        <b>Пароль:</b> <%= @user.password %>
    </p>
    <p>
        Чтобы войти на сайт и познакомиться с нашим ассортиментом одежды прямо сейчас перейдите по ссылке: <%= @url %>.
    </p>
    <p>Благодарим вас за то что вы стали клиентом нашего магазина, желаем вам удачных покупок!</p>
</body>
</html>