<div class="success js-noti b-xhr-error">
	<div class="b-xhr-error__status">Ошибка</div>
	
	<div class="b-xhr-error__text"><%= text %></div>
    
    <span class="close b-popup__close"><img class="close" alt="" src="/assets/close.png" /></span>
</div>