    
    <% if sub_sections.length > 0 %>
        <b><%= section.name %></b>
        <span class="act-cat"></span>
    <% else %>
        <%= link_to section.name, section, :class => "section" %>
    <% end %>