<div class="box account">

    <div class="box-content">
        <div class="box-content-image">
            <div class="box-heading">Профиль</div>
            <ul class="acount">
                <li><%= link_to "Мои данные", edit_user_registration_path %></li>
                <li><%= link_to "Мой адрес", users_address_path %></li>
                <li><%= link_to "Мои заказы", orders_path %></li>
                <li><%= link_to "Сменить пароль", edit_password_path(current_user) %></li>
            </ul>
        </div>
    </div>
</div>