<div id="column-right"> 

    <div class="box specials">
        <div class="box-content">
            <div class="box-content-image">
                <div class="box-heading special-heading">Specials</div>
                <div class="box-product">
                    <ul>
                        <li class="special-container1">
                            <div class="name maxheight-spec"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=44"> Ipsum dolor sit amet conse</a></div>
                            <div class="image2"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=44"><img src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/Classic Laundry Green Graphic T-Shirt 1 copy-60x72.png" alt=" Ipsum dolor sit amet conse" /></a></div>
                            <div class="extra-wrap">
                                <div class="price"> <span class="save">save</span><span class="price-off">99%</span> </div>
                                <!--div class="cart"><a data-id="44;" class="button addToCart"><span>Add to Cart</span></a></div--> 
                            </div>
                        </li>
                        <li class="special-container2">
                            <div class="name maxheight-spec"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=53">Aperce sit conse ipsum ctetur adipisi</a></div>
                            <div class="image2"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=53"><img src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/Funkalicious Print T-Shirt  2 copy-60x72.png" alt="Aperce sit conse ipsum ctetur adipisi" /></a></div>
                            <div class="extra-wrap">
                                <div class="price"> <span class="save">save</span><span class="price-off">7%</span> </div>
                                <!--div class="cart"><a data-id="53;" class="button addToCart"><span>Add to Cart</span></a></div--> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="box info">
        <div class="box-content">
            <div class="box-content-image">
                <div class="box-heading">Information</div>
                <ul class="info-list">
                    <li><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=information/information&amp;information_id=4">About</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=information/information&amp;information_id=6">Delivery</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=information/contact">Contact Us</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=information/sitemap">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>