                        <% if @seo_text %>
                            <div class="b-about">
								<h2>Про <%= @seo_key %></h2>
                                <%= @seo_text.html_safe %>
                            </div>
                        <% end %>