                        <% if @seo_text %>
                            <div class="b-about">
                                <%= @seo_text.html_safe %>
                            </div>
                        <% end %>