        <li class="b-sections-tree__item">
            <%= section.name %>
            
            <div class="b-sections-tree__item__actions">
                <%= link_to 'Add subsection', new_section_path(:parent_id => section) %>
                <%= link_to 'Edit', edit_section_path(section) %>
                <%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        </li>    
  

