<h1>Listing Sections</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td>
        <ul class="b-sections-tree">
            <%= nested_sections @sections.arrange(:order => :id) %>
        </ul>
    </td>
  </tr>
</table>

<br />

<%= link_to 'New Section', new_section_path %>