<h1><%= @order.address.fio %>, спасибо за заказ!</h1>

<div class="box-container">
	<div class="about-page">
		<h3>
			Ваш заказ #<%= @order.id %>  принят.<br /> 
		</h3>
		<p>
            Менеджер свяжется с вами по телефону в течение нескольких часов для уточнения времени и адреса доставки. <br />
			
		</p>
        <p>
            А пока вы можете <a target="_blank" href="http://market.yandex.ru/shop-opinions.xml?shop_id=136639">оценить</a> работу нашего магазина, чтобы помочь нам сделать его еще лучше. Так же мы рекомендуем вступить в нашу <a target="_blank" href="http://vk.com/younglovers">группу Вконтакте</a> чтобы быть всегда в курсе новых поступлений, скидок и акций.
        </p>
        
	    Хорошего дня!
	</div>
	<div class="about-page-2">
        <i>Команда YoungLovers.ru</i>
	</div>
	<!--div class="buttons">
		<div class="right"><a class="button-inf-left" href="#"><span>Подробнее</span></a></div>
	</div-->
</div>

<!--Трэкер "Покупка"--> 
<script>document.write('<img src="http://mixmarket.biz/tr.plx?e=3779408&r='+escape(document.referrer)+'&t='+(new Date()).getTime()+'" width="1" height="1"/>');</script> 
<!--Трэкер "Покупка"-->