<h1>О магазине</h1>

<div class="box-container">
	<div class="about-page">
		<%= get_content(@page, 'text1') %>
	</div>
	
	<div class="about-page">
		<%= get_content(@page, 'text2') %>
	</div>
	
	<div class="about-page-2">
	    <br />
	    <%= get_content(@page, 'text3') %>
	</div>	
</div>