<h1>О магазине</h1>

<div class="box-container">
	<div class="about-page">
	
		<p>
			Магазин <b>YoungLovers</b> отличается от большинства других магазинов одежды. <b>YoungLovers</b> ориентирован на молодых людей, энергичных и амбициозных, ценящих свое время и имидж. Мы не обременяем Вас поиском в огромных каталогах скучной однотипной одежды, все представленные нами модели тщательно отбираются по стилю и качеству, каждая вещь, попадающая на наш сайт, нравится нам самим и мы рекомендуем ее Вам.
		</p>

	</div>
	<div class="about-page">
		<h3>
			YoungLovers это стиль жизни!
		</h3>
		<p>
			Мы очень дорожим вашим временем, нам важно чтобы каждый наш клиент остался доволен покупкой в нашем магазине, Ваше лояльное отношение или положительный отзыв о нашем сервисе дороже для нас чем финансовая прибыль от покупки.
		</p>
		<p>
			Нам импонируют интересные, целеустремленные, спортивные молодые люди и мы создали наш магазин специально для вас!
		</p>
		<p>
			Надеемся что пользование магазином <b>YoungLovers</b> доставит вам удовольствие и вы останетесь довольны качеством нашего сервиса. </p>
			
		<p>С наилучшими пожеланиями, команда <b>YoungLovers!</b></p>
		
	</div>
	
	<div class="about-page-2">
	    <br />
	    <h3>
			Юридическая информация:
		</h3>
        <div class="b-address">
            
            ИП Красман С.А. <br />
            г. Киров, ул.Ленина, д 134 корпус 1. кв. 108 <br />
            ОГРН 305431209100052 <br />
        </div>
	</div>
	<!--div class="buttons">
		<div class="right"><a class="button-inf-left" href="#"><span>Подробнее</span></a></div>
	</div-->
</div>