<h1>Доставка</h1>

<div class="box-container">
	<div class="about-page">
		<h3>
			Доставка по Москве и ближайшему Подмосковью
		</h3>
		<p>
			Доставка осуществляется нашими курьерами 7 дней в неделю. 
		</p>
		<p>
			Время доставки: <br />
			7 дней в неделю с 10-00 до 21-00
		</p>
	
	</div>
	<div class="about-page-2">
		<h3>
			Условия доставки
		</h3>
		<p>
			Условия доставки в праздничные дни будут уточняться отдельно.<br />
			Стоимость доставки заказа до <b>4000</b> рублей составляет – <b>250</b> рублей.<br />
			Стоимость доставки заказа на сумму от <b>4000</b> - бесплатно<br />
			Стоимость доставки за пределы МКАД определяется индивидуально в зависимости от удаленности от МКАД.</p>

		<p>	Менеджер свяжется с Вами после получения и обработки заказа.</p>

			<p>Товар доставляется на следующий день либо в любой другой выбранный вами. В день доставки c Вами связывается наш курьер.</p>

		<p>	Оплата заказа производится в рублях курьеру непосредственно при доставке товара.</p>

		<p>	Пожалуйста, проверяйте соответствие Вашего заказа тому, что доставил Вам курьер сразу, в его присутствии!</p>

		<p>	Повторный выезд курьера платный, стоимость составляет <b>250</b> руб.
		</p>

	</div>
	<!--div class="buttons">
		<div class="right"><a class="button-inf-left" href="#"><span>Подробнее</span></a></div>
	</div-->
</div>