<h1>Доставка</h1>

<div class="box-container">
	<div class="about-page">
		<h3>
			Доставка по Москве и ближайшему Подмосковью
		</h3>
		
		<p>
			Доставка осуществляется нашими курьерами 7 дней в неделю.
		</p>
		<p>
			Время доставки: <br />
			7 дней в неделю с 11:00 до 20:00
		</p>
	
	</div>
	<div class="about-page-2">
		<h3>
			Условия доставки
		</h3>
		<p>
            Доставка по Москве в пределах МКАД - <span class="green">бесплатно</span>.<br />
			Стоимость доставки за пределы МКАД определяется индивидуально в зависимости от удаленности от МКАД.</p>
		<p>
			Перед тем, как принять окончательное решение о покупке Вы можете <span class="green">бесплатно</span> примерить одежду в день доставки, поменять размер или отказаться от покупки, если вещь вам не подошла или не устроило качество. В случае полного отказа от заказа или сумма вашей покупки меньше 1000 руб. оплачивается доставка курьеру по тарифу - 300 руб. <br />

			Товар доставляется на следующий день либо в любой другой выбранный вами. В день доставки c Вами связывается наш курьер.
		</p>
    

		<p>	Оплата заказа производится в рублях курьеру непосредственно при доставке товара.</p>

		<p>	Пожалуйста, проверяйте соответствие Вашего заказа тому, что доставил Вам курьер сразу, в его присутствии! После оплаты товара претензии не принимаются!</p>

	</div>
	<!--div class="buttons">
		<div class="right"><a class="button-inf-left" href="#"><span>Подробнее</span></a></div>
	</div-->
</div>