<h1>Правилами пользования</h1>

<div class="box-container">
	<div class="about-page">
		<p>
			Пользуясь нашим сервисом, Вы принимаете следующие Правила:
		</p>
		<ul>
			<li>
				Оформление заказа производится добавлением необходимых товаров в корзину и заполнением формы заказа либо по телефону, указанному на сайте.
			</li>
			<li>
				Заказ считается действительным только после подтверждения по телефону.
			</li>
			<li>
				В случае если приобретенная одежда Вам не подошла, Вы можете вернуть ее или поменять на другой размер в течение 7 дней с момента доставки, в этом случае Вы обязуетесь оплатить повторную доставку курьера.
			</li>
			<li>
				Нижнее белье возврату и обмену не подлежит.
			</li>
		</ul>
	</div>
	
	<!--div class="buttons">
		<div class="right"><a class="button-inf-left" href="#"><span>Подробнее</span></a></div>
	</div-->
</div>