<ul>
    <% if (products.length == 0) { %>
        Товары в каталоге отсутствуют.
        <%= products.length %>
    <% } else { %>
        <% products.each(function(product) { %>
        <li>
            <div class="padd-both">
                <div class="image2">
                    <a href="#"></a>
                </div>
                <div class="price"> <%= product.get('price') %>р </div>
                <div class="name maxheight">
                    <%= product.get('name') %>
                </div>
                <div class="cart"> 
                    <a href="#" class="button addToCart js-addToCart" rel="<%= product.get('id') %>"><span>В корзину</span></a>
                    
                        <span>Детально</span>
                    
                </div>
            </div>
        </li>
        <% }); %>
    <% } %>
</ul>