<h1>Listing Brands</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td><%= brand.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_brand_path %>