<%= render "shared/breadcrumbs" %>

<h1>Поиск</h1>

<div class="b-section-products js-productsList grid">
    
    <%= render "shared/products_list" %>
    
</div>
<%
=begin
<div class="pagination">
    <div class="results">Showing 1 to 12 of 12 (1 Pages)</div>
</div>
=end
%>