.i-up-arrow { width: 125px; height: 37px; background: url(../i/icons.png) 0px 0px no-repeat; }
.i-cart { width: 111px; height: 105px; background: url(../i/icons.png) 0px -37px no-repeat; }
.i-facebook { width: 14px; height: 68px; background: url(../i/icons.png) -111px -37px no-repeat; }
.i-stock-w { width: 48px; height: 48px; background: url(../i/icons.png) -125px 0px no-repeat; }
.i-box-list { width: 25px; height: 48px; background: url(../i/icons.png) -125px -48px no-repeat; }
.i-box-grid { width: 25px; height: 48px; background: url(../i/icons.png) -173px 0px no-repeat; }
.i-try { width: 32px; height: 32px; background: url(../i/icons.png) -125px -96px no-repeat; }
.i-shipping { width: 32px; height: 32px; background: url(../i/icons.png) 0px -142px no-repeat; }
.i-cart_32 { width: 32px; height: 32px; background: url(../i/icons.png) -32px -142px no-repeat; }
.i-zoom { width: 30px; height: 30px; background: url(../i/icons.png) -64px -142px no-repeat; }
.i-remove { width: 27px; height: 23px; background: url(../i/icons.png) -94px -142px no-repeat; }
.i-like:hover { width: 25px; height: 24px; background: url(../i/icons.png) -173px -48px no-repeat; }
.i-rating { width: 25px; height: 24px; background: url(../i/icons.png) -173px -72px no-repeat; }
.i-like { width: 25px; height: 24px; background: url(../i/icons.png) -173px -96px no-repeat; }
.i-rating:hover { width: 25px; height: 24px; background: url(../i/icons.png) 0px -174px no-repeat; }
.i-telephone { width: 24px; height: 24px; background: url(../i/icons.png) -25px -174px no-repeat; }
.i-vk { width: 24px; height: 24px; background: url(../i/icons.png) -49px -174px no-repeat; }
.i-update { width: 22px; height: 22px; background: url(../i/icons.png) -173px -120px no-repeat; }
.i-close { width: 11px; height: 22px; background: url(../i/icons.png) -150px -48px no-repeat; }
.i-reorder { width: 16px; height: 16px; background: url(../i/icons.png) -150px -70px no-repeat; }
.i-darr_black { width: 16px; height: 16px; background: url(../i/icons.png) -157px -96px no-repeat; }
.i-rarr_black { width: 16px; height: 16px; background: url(../i/icons.png) -157px -112px no-repeat; }
.i-warning { width: 16px; height: 16px; background: url(../i/icons.png) -121px -142px no-repeat; }
.i-attention { width: 16px; height: 16px; background: url(../i/icons.png) -137px -142px no-repeat; }
